body {width:100%;min-width: 1000px;margin: auto;/*padding-top:30px;*/ padding-bottom: 20px;}
h1 {font-size: 30px;text-align: center;margin-bottom: 10px;}
h2 {font-size: 16px; font-weight: bolder;color: #337AB7;border-bottom: 1px solid grey;margin: 20px 0 5px 0;}
h2.first-h2 {margin-top: 0px;}
h3 {font-size: 14px;font-weight: bold;}
.clearfix:after {content: ' ';height: 0;clear: both;visibility: hidden;}
.required-flag {color: red;margin-right: 2px;}
.mar-left-1 {margin-left: 10px;}
.mar-left-2 {margin-left: 20px;}
.mar-left-3 {margin-left: 30px;}
.line-space {margin-top:10px;}
.promise-info {border: 1px solid #FF3030;padding: 5px 10px;margin: 20px 0;text-align: center;}
.promise-info p {font-size: 16px;text-align:left;}
.area-frame {border:1px solid #33cccc;padding: 5px;}
.deleteX {color: red; font-size: 16px; padding: 0 10px; cursor: pointer;}
.fileName {display:inline-block;overflow:hidden;max-width:80%;white-space:nowrap;text-overflow:ellipsis}

/*llb change*/
/*.nav-lb{background: blue;height: 80px;margin-bottom: 0;line-height: 80px;}*/
.left-nav-lb{height: 100%;background-color: #3c3f53; margin-left: 0; width: 160px; }
/*.left-nav-lb li{border-radius: 0;}*/
.left-nav-lb .active{border-right: 8px solid #0089cd;}
.left-nav-lb li>a{ height: 50px; line-height: 50px;border-radius: 0;font-size: 16px;color: #fff;}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus{
    background-color: #5D617F;
}
.table-lb thead tr{background-color: #f0f0f0; line-height: 56px;}
.table2-lb div{background-color: #f0f0f0;border-bottom: 4px solid #fff;height: 27px;padding: 0 18px;line-height: 27px;}