/* 性别 */
.sexDiv {
    height: 34px;
}

.sexLabel {
    height: 34px;
}

.sexInput {
    height: 34px;
}

.sign {
    height: 30px;
    line-height: 30px;
    color: #c7254e;
    font-size: 16px;
    font-weight: bold;

}

btn.btn-small{*padding-top:3px;*padding-bottom:3px;}


/* 审核详情 */
.idCard {
    width: 380px;
    height: 240px;
    border-radius: 5px;
}

.auditDetailDiv {
    height: 34px;
    font-size: 15px;
    padding-top: 5px;
}

.addMemBtn {
    float: right;
    padding: 5px 16px;
    margin-right: 0;
    font-size: 12px;
    margin-top: 10px;
}

.brand {
    font-family: 'Raleway', sans-serif;
}

.header .navbar {
    margin-bottom: 0;
}

.editDiv {
    border: 1px solid #DCDEE0;
}

.paddingDiv {
    padding: 0;
}

.paddingDivMess {
    padding: 0;
    margin-top: 25px;
}

.editCommitBtn {
    padding-top: 20px;
    text-align: center;
}

@media (max-width:480px) {
    .idCard {
        width: 260px;
        height: 160px;
        margin-left: -5px;
    }
}