
body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: rgb(47, 47, 47);
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
    height: 81px;
}

.fixed-header-on .logo {
    transform: scale(0.8);
    margin-top: 0;
    margin-bottom: 0;
}
.logo, .logo-section {
    float: left;
}
.logo {
    transition: all 0.3s ease-in-out;
    height: 30px;
    margin: 10px 0 10px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo, .logo-section {
    float: left;
}

.fixed-header-on .brand {
    font-size: 24px;
}
.brand {
    font-size: 25px;
}
.brand {
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
}
.brand {
    font-family: 'Raleway', sans-serif;
}

.brand a {
    color: #FFC400;
    font-weight: bold;
    font-size: 25px;
    font-family: Microsoft YaHei, sans-serif;
}

.brand a:hover {
    text-decoration: none;
}

#logo {
    width: 30px;
}

.applyBox {
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
}

.applyBoxResult {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.toTop {
    margin-top: 110px;
}

.banner {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    color: #fff;
}

.childToTop {
    padding-top: 0;
}

.message {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.required-flag {
    color: red;
    margin-right: 2px;
}

.memInput {
    padding-right: 0;
}

.memLabel {
    font-size: 14px;
    padding-right: 0;
}

.vDiv {
    position: fixed;
    top: 49%;
    right: 18px;
}

.vJoinDiv {
    border: 1px solid #d9dadc;
    position: fixed;
    top: 47%;
    right: 2px;
    width: 120px;
    height: 160px;
    background: #fff;
}

.vEnter {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    right: 18px;
    color: #717375;
}

.vMessage {
    position: fixed;
    top: 64%;
    right: 15px;
    text-align: center;
    color: #717375;
}



@media (max-width:767px) {
    .header.navbar-fixed-top {
        position: absolute;
    }
}
/*
@media (max-width:991px) {
    .logo,
    .brand,
    .site-slogan {
        display: none;
    }
}

@media (min-width:769px) {
    .main-navigation .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav {
        float: left !important;
        min-width: 760px;
    }

    .brand {
        font-size: 25px;
    }

    #logo {
        width: 30px;
    }
}*/

@media (max-width:480px) {

    h1 {
        font-size: 25px;
    }

    #logo{
        height: 35px;
    }

    .brand{
        font-size: 25px;
    }

    .rankTable {
        padding-left: 15px;
        padding-right: 15px;
    }

    .table-bordered {
        font-size: 12px;
    }

    .tabbable {
        box-sizing: border-box;
        overflow-x: scroll;
    }

    .childToTop {
        padding-top: 0;
    }

    .smallBigPic {
        padding-bottom: 40px;
    }

    .bigPic {
        margin-top: 15px;
    }


    .vDiv {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: unset;
        top: 0;
        right: 0;
    }

    .vJoinDiv {
        border: 1px solid #d9dadc;
        position: unset;
        top: 0;
        right: 0;
        width: 120px;
        height: 160px;
        background: #fff;
        margin: 0 auto;
        padding-top: 20px;
    }

    .vEnter {
        width: 80px;
        height: 80px;
        position: unset;
        margin: 0 auto;
    }

    .vMessage {
        position: unset;
        top: 45%;
        right: 0;
        margin-top: 10px;
    }

}