@charset "utf-8";
/* CSS Document */

/** { font: 13px/1.5 '微软雅黑'; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -box-sizing: border-box; padding:0; margin:0; list-style:none; box-sizing: border-box; }*/
body { background:#93defe;}
/*a { color:#27A9E3; cursor:pointer;float: right;
    margin-top: 10px; }*/
img{ border:none;}
.shenhea {
    color: #27A9E3;
    text-decoration: none;
    float: none;
}
.title-main{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    color:#000;
    margin-top: 0;
    margin-bottom: 10px;
}
.title {
    height:30px;
    line-height: 30px;
    color:#000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.group-info{
    background-color: #fff;
    border:1px solid lightgrey;
    border-radius: 10px;
    padding: 20px 0 10px 0;
    margin-bottom: 40px;
}
.table{
    margin-bottom: 0;
}
.table thead th{
    font-weight: 700;
}
.table-container{
    background-color: #ccc;
}
.commit_btn_container{
    /*padding-top: 20px;*/
    text-align: center;
}
.modal-content .close span{
    font-size: 20px;
}
.form-group label{
    padding-left: 0;
}
.identifyContainer{
    padding-left: 40px;
}
@media (max-width:540px) {
    .main-content{
        padding:10px;
    }
    div.form-group {
        padding: 0;
    }
    .form-group label{
        font-size: 12px;
        height:34px;
        line-height: 34px;
        padding: 0;
    }
    .form-group .controls{
        padding-left:10px;
    }
    .form-horizontal{
        padding: 0;
    }
    h4.sign{
        display: inline-block;
    }
    #informationContainer{
        padding: 0;
    }
    div.formContainer{
        padding: 0;
    }
    .identifyContainer{
        padding-left: 0;
    }
    .title-main{
        font-size: 25px;
    }
    .title {
        font-size: 18px;
    }
    .titleInfo{
        padding: 0;
    }
}
